@model IEnumerable<FamilyHeritage.Models.Person>

@{
    ViewBag.Title = "Create";
}
<input type="hidden" id="serverJSON" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
<h2>Create</h2>

    <div class="form-horizontal">
       <div>
           <table>
               <tbody >
                   <tr>
                       <td>FristName</td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>MiddleName</td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>LastName</td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>Gender</td>
                       <td></td>
                   </tr>
                   <tr>
                       <td>FatherName</td>
                       <td ><select data-bind="options: availableFathers,
                       optionsText: 'fatherName',
                       value: selectedFather,
                       optionsCaption: 'Choose...'"></select></td>
                   </tr>
                   <tr>
                       <td>MotherName</td>
                       <td><select data-bind="options: availableMothers,
                       optionsText: 'motherName',
                       value: selectedMother,
                       optionsCaption: 'Choose...'"></select></td>
                   </tr>
               </tbody>
           </table>
       </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/FamilyHeritageClass.js"></script>
<script src="~/Scripts/CreatePerson.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
